a{
	text-decoration:none;
	-webkit-top-highlight-color:rgba(0,0,0,0);
	border-style:solid;
	border-width:1px;
	border-color:#7A8F66;
}
#a1{
	margin-left:50px;
}
#input000{
	margin-left:125px;
}
#aa{
	margin-left:100px;
}
#aaa{
	margin-left:50px;
}